body{
    font-family: 'Poppins', sans-serif;
    margin: 1%;
}
h1{font-size: 50px;
}
h3{
    color: rgb(223, 7, 7);
}
span{
    color: rgb(43, 187, 43);
}
section{
    display: flex;

}
.part-1{
    background-image: url(media/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 1%;
}

.half-width{
    width: 50%;
    padding: 3%;
    margin-left: 3.5%;
}
.half-width img{
    width: 100%;
}
button{
    color: white;
    border: none;
    background-image: linear-gradient(rgb(239, 147, 121) ,rgb(255, 118, 102));
    padding: 10px 30px;
    border-radius: 20px;
    font-weight: 600;
}
.part2{
    background-image: url(media/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right 300px;
}
.secondImage img{
    width: 150%;
    position: relative;
    right: 25%;
    
}
.Dream{
    position: relative;
    top: 30px;
}
.part-3{
    background-image: url(media/exp-bg.png);
    background-repeat: no-repeat;
    background-position: -30px;
}
.Experiences{
    height: 100%;

    padding-top: 7%;
    padding-bottom: 7%;
    box-shadow: 10px 10px 40px gray;
    margin-right: 50px;
}
.slice-border1{
    border-left: 7px solid rgba(255, 64, 0, 0.704); 
}
.slice-border2{
    border-left: 7px solid ;
    border-image: linear-gradient(rgba(0, 0, 255, 0.537), rgba(0, 255, 255, 0.575));
    border-image-slice: 1;
}
footer{
    text-align: center;
}